{% extends "account/base.html" %}

{% block head_title %}Reset Password{% endblock %}

{% block inner_content %}
<div class="card shadow-sm">
    <div class="card-body p-4">
        <h1 class="h4 mb-3">Reset Password</h1>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            {% include "account/_form_fields.html" with form=form %}
            <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
        </form>
    </div>
</div>
{% endblock %}
